extends layout

block content
  <!--h1= title-->
  <!--p Welcome to #{title}-->
  <!--p Welcome1 to #{title}-->
  <!--p Welcome2 to #{title}-->
  <!--p Welcome4 to #{title}-->


  #show.show 点击按钮开始抽奖
  .btn
    a#btn.start(href='javascript:void(0)') 开始抽奖

  script(src="http://car.qunar.com/news/js/jq2.js")
  script(src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js")
  script(src="/javascripts/discover.js")
