body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.wrap{ width:300px;
  margin:100px auto;
  font-family:"微软雅黑";
}
.show{
  width:300px;
  height:300px;
  background-color:#ff3300;
  line-height:300px;
  text-align:center;
  color:#fff;
  font-size:28px;
  -moz-border-radius:150px;
  -webkit-border-radius:150px;
  border-radius:150px;
  background-image:
  -webkit-gradient(linear,0% 0%, 0% 100%, from(#FF9600), to(#F84000), color-stop(0.5,#fb6c00));
  -moz-box-shadow:2px 2px 10px #BBBBBB;
  -webkit-box-shadow:2px 2px 10px #BBBBBB;
  box-shadow:2px 2px 10px #BBBBBB;
}

.btn a{ display:block; width:120px; height:50px; margin:30px auto; text-align:center; line-height:50px; -moz-border-radius:25px; -webkit-border-radius:25px; border-radius:25px;}
.btn a:link,.btn a:visited,.btn a:hover{ color:#fff; text-decoration:none;}
.btn a.start{ background:#80b600;}
.btn a.start:hover{ background:#75a700;}
.btn a.stop{ background:#00a2ff;}
.btn a.stop:hover{ background:#008bdb;}

